@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('font/Inter-VariableFont_slnt,wght.ttf');
    font-weight: normal;
    font-style: normal;
  }

/* ball */
.purple-ball {
position: fixed;
width: 60px;
height: 60px;
left: 868px;
top: -2px;

box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
filter: blur(5px);
}

.purple-light {
    position: fixed;
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;
    
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
}

.red-ball-1 {
    position: fixed;
    width: 28px;
    height: 28px;
    left: 851px;
    top: 547px;
    
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
}

.red-ball {
    position: fixed;
    width: 183px;
    height: 183px;
    left: 519px;
    top: 83px;
    opacity: 0.6;
}

.red-light {
    position: fixed;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;
    
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}

.red-light-mobile {
    display: none;
}

.purple-ball-mobile {
    display: none;
}

.red-ball-mobile {
    display: none;
}

body {
    background: black;
}


/*********** HEADER */
.header {
max-width: 1140px;
width: 80%;
height: 73px;

margin-left: auto;
margin-right: auto;
margin-top: 46px;
margin-bottom: 94px;

display: flex;
flex-direction: row;
opacity: 0.99
}

.welbexlogo {
height: 24px;
max-width: 165px;
width: 20%;

margin-top: 11px;
margin-bottom: 10px;
margin-right: 53px;
}

.header-logo-text {
height: 24px;
margin: 0;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;

color: #E4E5EA;
}

.menu-list {
list-style: none;
max-width: 503px;
width: 60%;
height: 19px;

padding-left: 0px;
margin-right: 153px;
margin-top: 10px;
display: inline-flex;
}

.menu-list-item:nth-last-child(n+2) {
  margin-right: 30px;
}

.menu-link {
max-width: 74px;
width: 100%;
height: 19px;

text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #E4E5EA;
}

.menu-list-item:hover a{
    color: #FF3F78;
    transition: 0.2s ease-in-out;
}

.connect {
    max-width: 292px;
    width: 20%;
    margin-top: 11px;
    display: inline-flex;
}

.number {
    margin-right: 49px;
}

.num {
max-width: 143px;
width: 100%;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: right;
text-decoration: none;

color: #E4E5EA;
}

.connect-imgs {
    display: flex;
    margin: 0;
}

.connect-img-tg {
width: 20px;
height: 20px;
left: 1022px;
top: 14px;
margin-right: 34px;
}


.connect-img-vb {
    width: 20px;
    height: 20px;
    left: 1022px;
    top: 14px;
    margin-right: 34px;
}

.connect-img-wa {
    width: 20px;
    height: 20px;
    left: 1122px;
    top: 14px;
    margin: 0;
}

/*********** MAIN */
.main {
max-width: 1140px;
width: 80%;
display: flex;
justify-content: space-between;

margin-left: auto;
margin-right: auto;
margin-bottom: 124px;
opacity: 0.99
}


.left-container{
max-width: 372px;
width: 100%;
}

.left-h1-top {
height: 116px;
margin: 0;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #E4E5EA;
}

.left-h1-down {
max-width: 247px;
height: 58px;
margin-top: 0;
margin-bottom: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;

background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */

/* border: 1px solid #000000; */
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left-text {
max-width: 275px;
height: 44px;
margin: 0;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #E4E5EA
}

.right-container {
max-width: 330px;
width: 100%;
text-align: right;
}

.right-header-top {
width: 100%;
height: 44px;
margin-top: 0;
margin-bottom: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;

color: #E4E5EA;
}

.right-header-top a {
height: 44px;

text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;
text-transform: uppercase;

background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */

/* border: 1px solid #000000; */
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.right-container-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

.right-container-menu-list {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 30px;
}

.right-container-menu-list:nth-child(odd) {
  margin-right: 36px;
}

.right-header-down {
width: 100%;
height: 22px;
margin-top: 0;
margin-bottom: 0;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

text-align: right;
letter-spacing: 0.04em;
text-transform: uppercase;


color: #E4E5EA;
}

.right-text {
width: 100%;
margin-bottom: 0;
margin-top: 6px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: right;

color: #E4E5EA;
}

.button-submit {
width: 100%;
max-width: 262px;
height: 61px;
background-color: hsl(221.23deg 88.18% 60.2%);


font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
margin-top: 31px;

color: #E4E5EA;
}


/*********** FOOTER */
.footer {
max-width: 1140px;
width: 80%;
display: flex;
justify-content: space-between;

margin-left: auto;
margin-right: auto;
opacity: 0.99
}

.about-company {
    width: 22%;
    display: flex;
    flex-direction: column;
}

.company-menu {
    width: 36%;
    display: flex;
    flex-direction: column;
}

.company-address {
    display: flex;
    flex-direction: column;
    width: 24.3%;
    text-align: right;
}

.footer-h3 {
height: 17px;
left: 0px;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

letter-spacing: 0.05em;
text-transform: uppercase;


color: #656566;
}

.footer-menu {
max-height: 135px;
}

.footer-menu-list { 
    list-style: none;
    padding-left: 0px;
    margin: 0;

    max-height: 135px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-menu-link {
height: 19px;

text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
padding-right: 52px;

color: #E4E5EA;
}

.num-footer {
width: 143px;
height: 19px;
left: 998px;
top: 92px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: right;

color: #E4E5EA;
}

.address {
margin-bottom: 70px;
}

.num-footer {
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: right;
text-decoration: none;

color: #E4E5EA; 
}

.socials {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: right;
}

.socials-link {
width: 20px;
height: 20px;
}

.socials-item:nth-last-child(n+2) {
  margin-right: 13px;
}

.footer-address {
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: right;

color: #E4E5EA;
}


.copyright-text-up {
height: 15px;
left: 902px;
top: 260px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

text-align: right;

color: #E4E5EA;
}

.copyright-text-down {
width: 202px;
height: 15px;
left: 939px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

text-align: right;

color: #E4E5EA;
}

 /* media perehodi*/
@media (max-width: 1200px) {
    .connect {
        display: none;
    }

    .menu-list {
        margin-right: 0;
    }
}

@media (max-width: 920px) {
.main {
width: 90%;
align-items: center;
flex-direction: column;
}

.right-container {
    min-width: 330px; 
    margin-top: 100px;
    width: 100%;
    text-align: start;
}

.right-header-top {
    text-align: start;
}

.right-text {
    text-align: start;
}

.right-container-menu {
    justify-content: flex-start;
}

.footer {
width: 80%;
height: 559px;
flex-direction: column;
}

.company-address {
    text-align: start;
}

.footer-address {
    text-align: start;
}

.socials {
justify-content: flex-start;
}

.copyright-text-up {
    text-align: start;
}
}

/************MOBILE******************/
/* header */
@media (max-width: 641px) {
body {
    margin: 15px;
}

.purple-ball {
display: none;
}

.purple-light {
display: none;
}

.red-ball-1 {
display: none;
}

.red-ball {
display: none;
}

.red-light {
display: none;
}

.header {
width: 100%;
height: 24px;
margin-top: 5px;
margin-bottom: 20px;
}

.menu {
width: 100%;
}

.menu-list {
    width: 100%;
    justify-content: space-between;
}

.menu-list-item:nth-last-child(n+2) {
    margin-right: 0;
}

.menu-link {
    text-transform: uppercase;
}

.cert {
    display: none;
}

.welbexlogo {
    display: none;
}

.connect {
    display: none;
}

/* main */

.purple-ball-mobile {
display: flex;
left: 258px;
top: 80px;

opacity: 0.7;
}

.red-ball-mobile {
left: 30px;
 top: 261px;
   position: absolute;

opacity: 0.6;
display: block;
}

.red-light-mobile {
left: 30px;
    top: 201px;
    width: 300px;
    height: 250px;
    position: absolute;
    opacity: 0.5;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(146px);
    display: block;
}

.main {
width: 100%;
margin-top: 50px;
flex-direction: column;
}

.left-container{
    opacity: 0.99;
}

.left-h1-top {
font-weight: 400;
font-size: 36px;
line-height: 44px;

width: 100%;
height: 88px;
}

.left-h1-down {
font-weight: 900;
font-size: 36px;
line-height: 44px;
width: 100%;
height: 44px;
}

.left-text {
width: 100%;
height: 44px;

font-weight: 400;
font-size: 18px;
line-height: 22px;
}

.right-container {
margin-top: 45px;
text-align: start;
}

.right-header-top {
width: 272px;
height: 44px;
text-align: start;

font-weight: 500;
font-size: 18px;
line-height: 22px;
}

.right-header-down {
width: 107px;
height: 16px;
text-align: start;

font-weight: 400;
font-size: 13px;
line-height: 16px;

letter-spacing: 0.05em;
text-transform: uppercase;
}


.right-header-down:after {
    content: "";
    display: block;
    margin: -10px -15px;
    width: 10px;
    height: 2px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
}

.right-text {
    display: none;
}

.button-submit {
    display: none;
}

/* footer */
.footer {
width: 100%;
height: 559px;
flex-direction: column;
}


.about-company {
    width: 100%;
}

.company-menu {
    width: 100%;
}

.company-address {
    width: 100%;
    text-align: start;
}

.footer-menu-list {
    max-height: 105px;
}

.footer-h3 {
font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.05em;
text-transform: uppercase;
}

.footer-menu-link {
font-weight: 400;
font-size: 14px;
line-height: 17px;
padding-right: 0;
}

.num-footer {
font-weight: 500;
font-size: 16px;
line-height: 19px;
}

.socials-link {
width: 24px;
height: 24px;
}

.socials {
justify-content: flex-start;
}

.footer-address {
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: start;
}

.address {
margin-bottom: 50px;
}

.copyright-text-up {
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: start;
}

.copyright-text-down {
font-weight: 400;
font-size: 12px;
line-height: 15px;
}
}

